body {
    font-family: 'Arial'
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
}

#main-content {
    width: 600px;
    margin: 0 auto;
    padding: 10px;
    font-size: 16pt;
}

#todo_item_input {
    width: 400px;
    margin-right: 20px;
}

.todo_item {
    display: inline-block;
}

.todo_item.done {
    color: #CCC
}